.slider {
  position: relative;
  margin: 0 auto;
  max-width: 960px;
  overflow: hidden;
}

/*содержимое в одном окке*/
.item {
  position: relative;
  display: none;
  width: 100%;
  height: 320px;
  transition: transform 0.6s ease;
}

.gradient-right {
  background: linear-gradient(to right, #000000, #6d5b54);
}

.gradient-left {
  background: linear-gradient(to left, #000000, #6d5b54);
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-left: 15%;
}

.photo {
  width: 15%;
  border-radius: 50%;
}

/* индикаторы слайдера */
.slider_indicators {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 70%;
  margin-left: 15%;
  bottom: 10px;
  z-index: 2;
  list-style: none;
}

/* не активные индикаторы */
.slider_indicator {
  position: relative;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

/* подсветка активной части слайдера */
.indicator_active {
  background-color: #fff;
}

/* элементы управления (назад и вперёд) слайдером */
.control {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 15%;
  height: 100%;
  color: #fff;
  opacity: 0.5;
}

/*границы клювиков*/
.control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
}

.control:hover {
  opacity: 1;
}

.control_prev {
  left: 0;
}

.control_next {
  right: 0;
}

/* клювики */
.control_prev::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.control_next::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.item_active {
  display: block;
}

.item_next,
.item_prev {
  position: absolute;
  display: block;
  top: 0;
}

.item_next.item_left,
.item_prev.item_right {
  transform: translateX(0);
}

.item_next, .item_right {
  transform: translateX(100%);
}

.item_prev, .item_left {
  transform: translateX(-100%);
}
