.note{
  margin: 0 auto;
  padding: 10px;
  width: 32%;
  font-size: 12px;
  text-align: center;
  text-shadow: 1px 1px 0 black;
  color: white;
}

@media (max-width: 500px) {
  #title-sale {
   display: none;
  }
}
